/* Main resource script for Lotto */
#include <os2.h>
#include "lottorc.h"

POINTER MainFrame "lotto.ico"

MENU MainFrame
BEGIN
    SUBMENU "~Game", MainGame
    BEGIN
        MENUITEM "~Generate\tCtrl+N", MainGameGenerate
        MENUITEM "~Clear\tCtrl+L", MainGameClear
        MENUITEM "~Save to file\tCtrl+S", MainGameSave
        MENUITEM SEPARATOR
        MENUITEM "E~xit\tCtrl+X", MainGameExit
    END
    SUBMENU "~Options", MainOptions
    BEGIN
        SUBMENU "~Language", MainOptionsLang
        BEGIN
            MENUITEM "English", MainLang0
            MENUITEM "Espanol", MainLang1
            MENUITEM "Nederlands", MainLang2
            MENUITEM "Deutsch", MainLang3
            MENUITEM "Francais", MainLang4
            MENUITEM "Italiano", MainLang5
        END
        MENUITEM SEPARATOR
        MENUITEM "~Frame Controls\tCtrl+F", MainOptionsFrame
        MENUITEM SEPARATOR
        MENUITEM "S~ave settings on exit", MainOptionsSave
    END
    SUBMENU "~Help", MainHelp
    BEGIN
        MENUITEM "~General Help", MainHelpGeneral
        MENUITEM "Help ~Index", MainHelpIndex
        MENUITEM "~Help on Help", MainHelpOnHelp
        MENUITEM SEPARATOR
        MENUITEM "~About...", MainHelpAbout
    END
END

ACCELTABLE MainFrame
BEGIN
    "n", MainGameGenerate, CONTROL
    "N", MainGameGenerate, CONTROL
    "l", MainGameClear, CONTROL
    "L", MainGameClear, CONTROL
    "s", MainGameSave, CONTROL
    "S", MainGameSave, CONTROL
    "x", MainGameExit, CONTROL
    "X", MainGameExit, CONTROL
    "f", MainOptionsFrame, CONTROL
    "F", MainOptionsFrame, CONTROL
    VK_F1, MainHelpGeneral, VIRTUALKEY
END

/* About dialog (standard layout, never translated) */
DLGTEMPLATE AboutDlg
BEGIN
    DIALOG "About Lotto", 0, 32, 24, 240, 110, , FCF_TITLEBAR | FCF_DLGBORDER
    BEGIN
        CTEXT "Lotto for OS/2",                     -1, 10, 90, 220, 8
        CTEXT "Version 1.10",                       -1, 10, 78, 220, 8
        CTEXT "OpenWatcom Release",                 -1, 10, 66, 220, 8
        CTEXT "(c) 1999, Goran Ivankovic",          -1, 10, 54, 220, 8
        CTEXT "(c) 2026, OS2World",                 -1, 10, 42, 220, 8
        CTEXT "GNU GPL V3",                         -1, 10, 30, 220, 8
        DEFPUSHBUTTON "Close", DID_OK,                 98, 10, 44, 14, WS_GROUP
    END
END

/* Help tables */
HELPTABLE HID_MAIN
BEGIN
    HELPITEM MainFrame, HID_SUBTABLE, HID_GENERAL
END

HELPSUBTABLE HID_SUBTABLE
BEGIN
    HELPSUBITEM MainGameGenerate, HID_NUMBERS
    HELPSUBITEM MainGameClear, HID_RESULT
    HELPSUBITEM MainGameSave, HID_RESULT
    HELPSUBITEM MainGameExit, HID_MENUS
    HELPSUBITEM MainOptionsFrame, HID_MENUS
    HELPSUBITEM MainOptionsSave, HID_MENUS
    HELPSUBITEM MainHelpAbout, HID_ABOUT
    HELPSUBITEM MainHelpGeneral, HID_GENERAL
    HELPSUBITEM MainHelpIndex, HID_GENERAL
    HELPSUBITEM MainHelpOnHelp, HID_GENERAL
END
